/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 25, 2023, 2:45:37 PM
    Author     : Nam
*/

table, th, td {
  border:1px solid black;
  min-width:120px;
  text-align: center;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#333;
}